* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  background-image: url("../public/images/cheeseburger.jpg");
  background-size: auto;
  background-position: 60% 80%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a:hover {
  color: white;
}

html {
  position: relative;
  min-height: 100%;
}

button {
  border: none;
  background: none;
  color: blue;
}

.logo {
  max-width: 33%;
  border-radius: 50%;
  opacity: 0.9;
  margin-top: 30px;
  margin-bottom: 90px;
}

.logo-div {
  text-align: center;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

.unauthorized {
  text-align: center;
}

.menu-item {
  height: 125px;
  width: 160px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.menu-header {
  color: white;
}

.cart-item {
  height: 105px;
  width: 140px;
  margin: 10px;
  display: block;
}

.greeting {
  text-align: center;
}

footer {
  background-color: #c41e3a;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
}

footer p {
  padding-top: 20px;
}
